html,
body {
  font-family: "Manrope", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

button {
  all: unset;
  /* padding: 10px 16px; */
  border-radius: 10px;
  padding: clamp(8px, 1.5vw, 12px) clamp(12px, 2.5vw, 20px);
  cursor: pointer;
  font-size: clamp(0.875rem, 2vw, 1rem);
}

.dark-btn {
  background-color: #2b2b2b;
  color: #f8f7f5;
}

.dark-btn:hover {
  background-color: rgb(107, 107, 107);
  /* color: black; */
}

a {
  all: unset;
}

a:hover {
  cursor: pointer;
}

.span-bold {
  font-weight: bold;
}

.span-underlined {
  text-decoration: underline;
}

h1 {
  font-size: 35px;
}
