header {
  background-color: white;
  width: 100%;
  height: 4.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

#splendid-logo {
  height: 3rem;
  transition: transform 0.3s ease;
}

#splendid-logo:hover {
  transform: scale(0.9);
}

#nav-bar {
  display: flex;
  align-items: center;
}

.nav-link {
  margin: 10px;
  border-radius: 8px;
  position: relative;
  display: inline-block;
  padding-top: 10px; /* Space above the text for the line */
}

.nav-link:hover:after {
  background-color: rgb(199, 199, 199);
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1.5px; /* Line height */
  background-color: #2b2b2b; /* Line color */
  left: 0;
  top: 0; /* Position the line at the top of the button */
  /* transition: width 0.3s ease; */
  z-index: 1; /* Ensure the line appears above the text */
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link:active::after {
  width: 100%; /* Line expands to full width on hover, focus, or active state */
}

#cart-btn {
  font-size: 1.5rem;
  display: inline-block;
  transition: 0.3s;
  content: "\f07a"; /* Unicode for fa-cart-shopping */
  font-family: "Font Awesome 6 Free"; /* Ensure it matches the Font Awesome version */
  font-weight: 900; /* Font Awesome solid weight */
}

#cart-btn:hover::before {
  content: "\f217"; /* Unicode for fa-cart-plus */
  color: grey;
}

#menu-btn {
  display: none;
}

@media (max-width: 578px) {
  header {
    display: flex;
    justify-content: space-around;
  }

  #nav-bar {
    display: none;
  }

  #cart-btn {
    display: none;
  }

  #menu-btn {
    display: flex;
    font-size: 2rem;
  }
}
